[user]
	name = ymgn9314
	email = yamagen.private@gmail.com
[color]
	ui = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
